* {
  background-color: white;
}

header{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: sticky;
}

img{
  height: 100px;
  width: 100px;
  padding: 5px;
}

.App-logo{
  display: inline-block;
}




